<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='w3themes.css')}}">
    <title>HomeHub</title>
</head>

<body>
    <div class="outer"></div>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-right"
        style="display:none;right:0;background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(0.8rem);"
        id="rightMenu">

        <a href="#" class="w3-bar-item w3-button"
            style="color: aliceblue; background-color: rgba(0, 0, 0, 0.1); padding: 15px; padding-left: 20px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
            id="sidebarelements">Settings </a>
        <a href="#" class="w3-bar-item w3-button"
            style="color: aliceblue; background-color: rgba(0, 0, 0, 0.1); padding: 15px; padding-left: 20px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
            id="sidebarelements1">Folders</a>
        <a href="#" class="w3-bar-item w3-button"
            style="color: aliceblue; background-color: rgba(0, 0, 0, 0.1); padding: 15px; padding-left: 20px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
            id="sidebarelements2">About</a>
    </div>
    <div class="banner">
        <div class="banner__content" id="banner">
            <div class="banner__text">
                <a href="/m" style="text-decoration-line: none;">
                    <strong id="banner__text">
                        HomeHub</strong></a>
                <button style="float: right;
                    margin-left: 20px;
                       margin-right: 0px; left: -500px;" type="button" onclick="w3_open()" class="button_menu"
                    id="menub">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#FFFFFF">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path id="menu_button" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                    </svg></button>
                <button style="float: right;
                    margin-left: 20px;
                       margin-right: 10px; left: -500px;" type="button" onclick="scroll_to_folders()"
                    class="button_menu" id="menub">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#FFFFFF">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z" />
                    </svg></button>

            </div>
            <div>
            </div>
        </div>
    </div>

    <a href="/home" style="text-decoration-line: none;">
        <div>
            <h1
                style="font-family: Arial, Helvetica, sans-serif; orientation: center; color: rgb(250, 252, 253); margin-left: 20px; font-size: 40px; text-decoration: none;">
                Home porn server</h1>
        </div>
    </a>
    <p id="desc_para">{{video_name}}</p>

    <div style="position: center;" class="img_container">
        {% for item in files %}
        <a href="/m/videos/{{video_names[item]}}">
            <div class="m_thumb_container">
                <img src="{{url_for('static', filename='Videos/thumbnails/' + item)}}" class="m_thumbnails">
                <h1 id="desc_para2" style="margin-top: 10px; margin-bottom: 25px; padding: 10px;">{{video_names[item]}}
                </h1>
            </div>
        </a>

        {% endfor %}
        <div id="folders">
            <h1 id="desc_para" style="margin-top: 20px;">Categories</h1>
            {% for folder in folders %}
            <div>
                <li id="folderlist">
                    <a id="folderlist_cont" href="/m/folders/{{folder}}">
                        {{folder}}</a>
                </li>
            </div>
            {% endfor %}
        </div>
    </div>

    <p id="desc_para">Designed with love by Irusha Sansuka</p>
    <script src="{{url_for('static', filename='size_adjust.js')}}"></script>

</body>

</html>