<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{video_name}} - HomeHub</title>
</head>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <a href="/home" style="text-decoration-line: none;">
        <div>
            <h1
                style="font-family: Arial, Helvetica, sans-serif; orientation: center; color: rgb(250, 252, 253); margin-left: 20px; font-size: 40px; text-decoration: none;">
                Home porn server</h1>
        </div>
    </a>
    <p id="desc_para">{{video_name}}</p>

    <div class="sample_porn">
        <video controls id="video_D" height="auto">
            <source src="{{url_for('static', filename=file_links[video_name] + video_name)}}.mp4" type="video/mp4">
        </video>
    </div>

    <div style="position: center;" class="img_container">

        <div class="sample_porn">
            <h1 id="desc_para">Recommended for you</h1>
            {% for item in video_thumbs %}
            <a href="/videos/{{item}}">

                <div style=" display: inline-block;" class="thumb_container">
                    <img src="{{url_for('static', filename=file_links[item] + 'thumbnails/' + item + '.png')}}"
                        class="thumbnails">

                    <h1 id="desc_para2">{{item}}</h1>
                </div>
            </a>
            {% endfor %}
        </div>
        <h1 id="desc_para" style="margin-top: 20px;">Categories</h1>
        <div id="folders">
            {% for folder in folders %}
            <div>
                <li id="folderlist">
                    <a id="folderlist_cont" href="/folders/{{folder}}">
                        {{folder}}</a>
                </li>
            </div>
            {% endfor %}
        </div>
    </div>

    <p id="desc_para">Designed with love by Irusha Sansuka</p>

    <script>
        var video2 = this.document.getElementById('video_D')
        window.onload = function () {
            if (
                navigator.userAgent.match(/Android/i) ||
                navigator.userAgent.match(/iPhone/i)
            ) {
                console.log("You are on mobile view")
                location.href = "../m/videos/{{video_name}}"

            }
            if (document.body.clientWidth > 1200) {

                video2.setAttribute('width', document.body.clientWidth - 500)
            }
            else {
                video2.setAttribute('width', document.body.clientWidth - 200)
            }
        }
        window.addEventListener("resize", function (event) {
            console.log(document.body.clientWidth + ' wide by ' + document.body.clientHeight + ' high');


            if (document.body.clientWidth > 1200) {

                video2.setAttribute('width', document.body.clientWidth - 500)
            }
            else {
                video2.setAttribute('width', document.body.clientWidth - 200)
            }

        })

    </script>
</body>

</html>